h1 {
  color: blue;
}

#title {
  background-color: red;
}

#pageIntro {
  background-color: green;
}

#personalIntro {
  background-color: yellow;
}

#links {
  background-color: black;
}

#article {
  background-color: rgb(228, 26, 60);
}

@media all and (max-width: 400px) {
  #title {
    color: white;
  }
}
