h1 {
  color: blue;
}
p {
  margin: auto;
  padding: 20px;
}

#title {
  margin: auto;
  padding: 20px;
}

#pageIntro {
  border: 4px black solid;
  margin: 20px 50px;
  padding: 20px;
}

#personalIntro {
  border: 4px black solid;
  margin: 20px 50px;
  padding: 20px;
}

#links {
  border: 4px black solid;
  margin: 20px 50px;
  padding: 20px;
}

#article {
  border: 4px black solid;
  margin: 20px 50px;
  padding: 20px;
}

.last-block {
  padding-bottom: 25px;
}
@media all and (max-width: 400px) {
  #title {
    color: white;
  }
}
